.homePage {
    text-align: center;
    background-color: rgba(240, 170, 83, 0.76);
    margin-bottom: 20px;
    color: rgb(49, 7, 216);
    font-size: large;
    padding-bottom: 1px;
}

ul {
    color: blue;
    display: flex;
    margin: auto;
}

.liC {
    margin-right: 240px;
    margin-bottom: 20px;
    margin-left: 20px;

    display: flex;
}

.img{
    height: 100%;
    width: 100%;
}